In [1]:
#Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [2]:
# Read the Data
flightdata = pd.read_csv("data/avgaf.csv")

In [3]:
# Rename columns 
flight = flightdata.rename(columns={'year' : 'Year','airportname' : 'Airport','cityname' : 'City','statename' : 'State','avgfare' : 'AvgFare','inflationadj' : 'InflationAdj','passengersample' : 'Passenger'})

In [4]:
#new dataframe
select_columns = ["Year", "Airport", "City", "State", "AvgFare", "InflationAdj", "Passenger"]
select_columns
flight = flight[select_columns]
flight.head()

,Year,Airport,City,State,AvgFare,InflationAdj,Passenger
0,2008,Athens/Ben Epps,Athens,GA,487.26,568.29,0
1,2008,Atka Airport,Atka,AK,1284.33,1497.92,0
2,2008,Altoona-Blair County,Altoona,PA,421.49,491.58,0
3,2008,Naples Municipal,Naples,FL,381.18,444.57,0
4,2008,Laurence G Hanscom Field,Bedford,MA,169.80,198.04,0

In [6]:
#Clean the data
flight.fillna(0)

,Year,Airport,City,State,AvgFare,InflationAdj,Passenger
0,2008,Athens/Ben Epps,Athens,GA,487.26,568.29,0
1,2008,Atka Airport,Atka,AK,1284.33,1497.92,0
2,2008,Altoona-Blair County,Altoona,PA,421.49,491.58,0
3,2008,Naples Municipal,Naples,FL,381.18,444.57,0
4,2008,Laurence G Hanscom Field,Bedford,MA,169.80,198.04,0
5,2008,Bradford Regional,Bradford,PA,457.45,533.52,0
6,2008,Raleigh County Memorial,Beckley,WV,422.57,492.84,0
7,2008,Southeast Iowa Regional,Burlington,IA,462.00,538.83,0
8,2008,Chico Municipal,Chico,CA,279.97,326.52,0
9,2008,McClellan-Palomar,Carlsbad,CA,309.51,360.99,0
10,2008,Decatur Airport,Decatur,IL,445.71,519.84,0
11,2008,Del Rio International,Del Rio,TX,502.24,585.76,0
12,2008,Ely Airport/Yelland Field,Ely,NV,333.50,388.96,0
13,2008,Venango Regional,Franklin/Oil City,PA,402.70,469.66,0
14,2008,Northern Colorado Regional,Fort Collins/Loveland,CO,163.67,190.89,0
15,2008,Fort Dodge Regional,Fort Dodge,IA,468.91,546.89,0
16,2008,Great Bend Municipal,Great Bend,KS,589.89,687.99,0
17,2008,Grand Canyon National Park,Grand Canyon,AZ,615.00,717.27,0
18,2008,Gallup Municipal,Gallup,NM,597.00,696.28,0
19,2008,Huron Regional,Huron,SD,601.76,701.83,0
20,2008,Memorial Field,Hot Springs,AR,280.00,326.56,0
21,2008,Boone County,Harrison,AR,300.67,350.67,0
22,2008,Kingman Airport,Kingman,AZ,438.32,511.21,0
23,2008,Skylark Field,Killeen,TX,72.00,83.97,0
24,2008,Kinston Regional Jetport at Stallings Field,Kinston,NC,107.04,124.84,0
25,2008,Gogebic-Iron County,Ironwood,MI,427.20,498.24,0
26,2008,Chautauqua County/Jamestown,Jamestown,NY,444.53,518.45,0
27,2008,Downtown Manhattan/Wall Street Heliport,New York,NY,752.00,877.06,0
28,2008,John Murtha Johnstown-Cambria County,Johnstown,PA,480.06,559.90,0
29,2008,Greenbrier Valley,Lewisburg,WV,582.75,679.66,0
...,...,...,...,...,...,...,...
4880,2011,Hartsfield-Jackson Atlanta International,Atlanta,GA,368.74,411.64,927009
4881,2012,Hartsfield-Jackson Atlanta International,Atlanta,GA,365.82,400.10,927009
4882,2013,Hartsfield-Jackson Atlanta International,Atlanta,GA,397.86,428.86,927009
4883,2014,Hartsfield-Jackson Atlanta International,Atlanta,GA,424.95,450.75,927009
4884,2015,Hartsfield-Jackson Atlanta International,Atlanta,GA,390.24,413.43,927009
4885,2016,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.96,367.19,927009
4886,2017,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.91,359.48,927009
4887,2018,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.91,359.48,927009
4888,2008,Chicago O'Hare International,Chicago-O'Hare,IL,361.46,421.57,1056893
4889,2009,Chicago O'Hare International,Chicago-O'Hare,IL,328.70,384.73,1056893
4890,2010,Chicago O'Hare International,Chicago-O'Hare,IL,355.73,409.65,1056893
4891,2011,Chicago O'Hare International,Chicago-O'Hare,IL,378.78,422.84,1056893
4892,2012,Chicago O'Hare International,Chicago-O'Hare,IL,385.05,421.13,1056893
4893,2013,Chicago O'Hare International,Chicago-O'Hare,IL,400.51,431.72,1056893
4894,2014,Chicago O'Hare International,Chicago-O'Hare,IL,415.75,440.99,1056893
4895,2015,Chicago O'Hare International,Chicago-O'Hare,IL,359.19,380.54,1056893
4896,2016,Chicago O'Hare International,Chicago-O'Hare,IL,317.98,332.69,1056893
4897,2017,Chicago O'Hare International,Chicago-O'Hare,IL,317.14,324.89,1056893
4898,2018,Chicago O'Hare International,Chicago-O'Hare,IL,317.14,324.89,1056893
4899,2008,Los Angeles International,Los Angeles,CA,389.39,454.14,1335304
4900,2009,Los Angeles International,Los Angeles,CA,343.06,401.54,1335304
4901,2010,Los Angeles International,Los Angeles,CA,369.76,425.81,1335304
4902,2011,Los Angeles International,Los Angeles,CA,394.88,440.82,1335304
4903,2012,Los Angeles International,Los Angeles,CA,401.84,439.49,1335304
4904,2013,Los Angeles International,Los Angeles,CA,411.92,444.01,1335304
4905,2014,Los Angeles International,Los Angeles,CA,422.89,448.56,1335304
4906,2015,Los Angeles International,Los Angeles,CA,398.62,422.32,1335304
4907,2016,Los Angeles International,Los Angeles,CA,355.90,372.36,1335304
4908,2017,Los Angeles International,Los Angeles,CA,352.52,361.13,1335304
4909,2018,Los Angeles International,Los Angeles,CA,352.52,361.13,1335304